.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.3em;
}

.input-box:hover {
    opacity: 0.3;
    transition: 0.3s;
    cursor: pointer;
}

.ratio {
    overflow: auto;
}
