.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    font-size: large;
}

.input-box:hover {
    opacity: 0.3;
    transition: 0.3s;
    cursor: pointer;
}

.ratio {
    overflow: auto;
}
